header {
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 49, 48);
    height: 25vh;
}

#logo {
    height: 130px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 40vw;
    background-color: white;
    border-radius: 18px;
}

#search {
    width: 37vw;
    margin-left: 1vw;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

.icone {
    height: 30px;
}

.headerUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
}

.caixaFav {
    display: flex;
    justify-content: space-between;
    width: 10vw;
}

#catalogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

nav {
    height: 5vh;
    color: white;
    font-size: 20px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.li-Cat:hover {
    color: rgb(216, 32, 32);
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.1s;
}

footer {
    display: flex;
    background-color: rgb(48, 49, 48);
    height: 40vh;
    align-items: center;
    justify-content: center;
}

/* DIV */
.footerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#p-Base {
    font-size: 30px;
    color: rgb(246, 245, 245);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-left: 7px;
}

.escrita {
    display: block;
    font-size: 14px;
    text-align: center;
    color: rgb(246, 245, 245);
}

.logoBase {
    width: 80px;
    display: flex;
}