main {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    /* background-image: url(/assets/wallpaperflare.com_wallpaper.jpg); */
    height: 72vh;
}

/* figure {
    background-color: rgb(192, 175, 20);
    height: 30vh;
} */