main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(139, 139, 139);
    /* kground-image: url(/assets/wallpaper-street.jpg; */
    height: 85vh;
}

.produtos {
    display: flex;
    width: 98vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 65vh;
    width: 20vw;
    font-family: 'Oswald', sans-serif;
}

.figure {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 73, 54);
    height: 35vh;
    width: 18vw;
}

.fotoProduto {
    height: 35vh;
}

.textoProduto {
    font-size: larger;
}

.precoProduto {
    font-size: 30px;
}

.precoProduto:hover {
    color: rgb(218, 73, 54);
}

.adicionarCarrinho {
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: white;
    font-family: 'Oswald', sans-serif;
    height: 5vh;
    width: 13vw;
    cursor: pointer;
}

.adicionarCarrinho:hover {
    background-color: rgb(218, 73, 54);

}

.detalheCategoria {
    height: 15px;
    width: 20vw;
    background-color: rgb(218, 73, 54);
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}



/* figure {
    background-color: rgb(192, 175, 20);
    height: 30vh;
} */