.headerUp {
    flex-wrap: wrap;
    min-height: max-content;
}

header {
    min-height: fit-content;
    max-height: max-content;
}

.form {
    min-width: 240px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(139, 139, 139);
    /* kground-image: url(/assets/wallpaper-street.jpg; */
    min-height: 85vh;
    height: fit-content;
}

.produtos {
    display: flex;
    width: 98vw;
    flex-wrap: wrap;
    row-gap: 4vh;
    column-gap: 3vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    min-width: fit-content;
    min-height: fit-content;
    height: 65vh;
    width: 20vw;
    font-family: 'Oswald', sans-serif;
    margin-left: 2vw;
}

.figure {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 73, 54);
    min-width: 240px;
    height: 35vh;
    width: 18vw;
}

.fotoProduto {
    max-width: max-content;
    height: 35vh;
}

.textoProduto {
    font-size: larger;
    width: max-content;
    min-width: 260px;
}

.textoProduto:hover {
    cursor: default;
}

.precoProduto {
    font-size: 30px;
}

.precoProduto:hover {
    /* color: rgb(218, 73, 54); */
    cursor: default;
}

.adicionarCarrinho {
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: white;
    font-family: 'Oswald', sans-serif;
    height: 5vh;
    width: 13vw;
    cursor: pointer;
    padding-left: 2vw;
    padding-right: 2vw;
    min-width: 200px;
    min-height: fit-content;
}

.adicionarCarrinho:hover {
    background-color: rgb(218, 73, 54);

}

.detalheCategoria {
    height: 15px;
    width: 20vw;
    background-color: rgb(218, 73, 54);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-left: 30px;
    margin-top: 5px;
}

.caixaFav {
    width: 7vw;
}