main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    background-color: rgb(125, 125, 125);
    min-height: 85vh;
    height: fit-content;
}

.produtos {
    display: flex;
    align-items: center;
    /* border-style: solid;
    border-width: 2px; */
    /* border-radius: 10px; */
    width: 770px;
    margin-top: 20px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border-bottom-style: solid;
    border-width: 7px;
    border-color: rgb(218, 73, 54);
}

.produto {
    margin-left: 15px;
    width: 130px;
    border-radius: 10px;

}

h2 {
    font-family: 'Oswald', sans-serif;
    margin-left: 25px;
    font-size: 25px;
}

#qtd {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 40px;
    background-color: white;
    margin-left: 40px;
    padding-left: 7px;
}

.valor {
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
    font-size: 50px;
}

#botao {
    border-style: solid;
    border-width: 1px;
    background-color: rgba(132, 33, 33, 0.497);
    padding-bottom: 2.5px;
    margin-left: 70px;
}

#botao:hover {
    cursor: pointer;
    background-color: rgba(104, 25, 25, 0.497);
    ;

}

/* .produtos {
    display: flex;
    width: 98vw;
    flex-wrap: wrap;
    row-gap: 3vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
} */

.caixaTotal {
    border-bottom-style: solid;
    border-width: 7px;
    background-color: white;
    border-radius: 3px;
    border-color: rgb(218, 73, 54);
    padding: 10px;
    margin-top: 30px;
    margin-left: 36.5vw;
}

.msgTotal {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#botaoComprar {
    cursor: pointer;
    background-color: rgb(218, 73, 54);
    border-radius: 50px;
    width: 180px;
    margin-left: 4px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#botaoComprar:hover {
    transform: scale(1.05);
    transition: 0.1s;
}