main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(48, 49, 48);
}

.criaConta {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    height: 60vh;
    width: 51vw;
    background-color: white;
}

input {
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 22px;
}

.div1 {
    margin-left: 50px;
}

.div2 {
    margin-right: 50px;
}